body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa; /* Light gray background */
  
}

.contactus {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
  
}

/* h1 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
} */

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
} */

textarea {
  resize: vertical; /* Allow vertical resizing */
}

button {
 
  /* width: 100%; */
  /* padding: 10px; */
  border: none;
  border-radius: 5px;
  background-color: #007bff; /* Blue button */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

